*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#eef8ee;
    color:#333;
}

marquee{
    background:#0a8f3d;
    color:white;
    padding:10px;
    font-size:18px;
    font-weight:bold;
}

header{
    background:linear-gradient(90deg,#0a8f3d,#3cb371);
    color:white;
    text-align:center;
    padding:30px;
}

header h1{
    font-size:42px;
}

nav{
    background:#06662d;
    text-align:center;
    padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:15px;
    font-size:18px;
    font-weight:bold;
}

nav a:hover{
    color:yellow;
}

.hero{
    background:linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4));
    color:white;
    text-align:center;
    padding:80px 20px;
}

.hero h2{
    font-size:40px;
}

.btn{
    display:inline-block;
    margin:10px;
    padding:12px 25px;
    background:#25D366;
    color:white;
    text-decoration:none;
    border-radius:8px;
    font-size:18px;
}

.card{
    width:300px;
    display:inline-block;
    margin:20px;
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
    text-align:center;
}

.card:hover{
    transform:translateY(-8px);
    transition:.3s;
}

footer{
    background:#0a8f3d;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:30px;
}
